<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Редактировать</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <menu th:insert="/fragments/menu.html :: menu"> </menu>
        <h1>Редактировать</h1>
        <form action="#" th:action="${actionPath}" th:object="${book}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="formElement">
                <span>Название:</span>
                <textarea class="inputText" th:field="*{name}"></textarea>
            </div>
            <div class="formElement">
                <span>Авторы (через запятую):</span>
                <textarea class="inputText" th:field="*{authors}"></textarea>
            </div>
            <div class="formElement">
                <span>Ключевые слова (через запятую):</span>
                <textarea class="inputText" th:field="*{keywords}"></textarea>
            </div>
            <div class="formElement">
                <input class="button submit" type="submit" value="Подтвердить" />
                <input class="button reset" type="reset" value="Сбросить" />
            </div>
        </form>
    </body>
</html>
