<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Редактировать</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <menu th:insert="/fragments/menu.html :: menu"> </menu>
        <h1>Редактировать</h1>
        <form action="#" th:action="${actionPath}" th:object="${book}" method="post">
            <input type="hidden" th:field="*{id}" />
            <p>Name: <textarea th:field="*{name}"></textarea></p>
            <p>Authors (comma-separated): <textarea th:field="*{authors}"></textarea></p>
            <p>Keywords (comma-separated): <textarea th:field="*{keywords}"></textarea></p>
            <p><input type="submit" value="Подтвердить" /> <input type="reset" value="Сбросить" /></p>
        </form>
    </body>
</html>
