<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Books list</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <menu th:insert="/fragments/menu.html :: menu"> </menu>
        <h1>Books</h1>
        <table>
            <tr th:if="${books.empty}">
                <td colspan="3"> No Books Available </td>
            </tr>
            <tr th:each="book: ${books}">
                <td><a th:href="'/books/' + ${book.id}" th:text="${book.name}" /></td>
                <td th:text="${#strings.listJoin(book.authors, ', ')}" />
                <td th:text="*{book.keywords.size > 0}? *{#strings.listJoin(book.keywords, ', ')} : 'Keywords doesn\'t specified'"/>
            </tr>
        </table>
    </body>
</html>
