<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <menu th:insert="/fragments/menu.html :: menu"> </menu>
        <h1 class="heading">Список книг</h1>
        <div class="booksList">
            <div th:if="${books.empty}">
                <td colspan="3">Список книг пуст(</td>
            </div>
            <div class="book" th:each="book: ${books}">
                <a class="bookCol bookColLink" th:href="'/books/' + ${book.id}" th:text="${book.name}" />
                <div class="bookCol">
                    <span class="dash">/</span>
                    <span th:text="${#strings.listJoin(book.authors, ', ')}"/>
                </div>
                <div class="bookCol">
                    <span class="dash">/</span>
                    <span th:text="*{book.keywords.size > 0}? *{#strings.listJoin(book.keywords, ', ')} : 'Keywords doesn\'t specified'"/>
                </div>
            </div>
        </div>
    </body>
</html>
